*.wav
.vscode/
*.exe
*.fst
build/
bin/
lib/
kaldi-tools/build
kaldi-tools/*.fst
third_party/eigen
python/build
python/*.so
python/*.dylib
python/*.cpp
python/*.wav
python/asset
python/__pycache__
python/kaldi_helper/__pycache__